<div class="card-header bg-danger text-white">
    <h4>Login Form</h4>
</div>
<div class="card card-body">
    <form (submit)="login($event)">
        <div class="form-group">
            <label for="nm">Enter Username:</label>
            <input type="text" name="name" id="nm" class="form-control">
        </div>
        <div class="form-group">
            <label for="ps">Enter password</label>
            <input type="password" name="password" id="ps" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger">Log In</button>
    </form>
</div>